.standartMultiSearchContent {
    display: flex;
    flex-direction: column;
    padding: 70px 0 50px 0;
    position: relative;
    margin: 0 10px 0 10px;
}

.standartMultiGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 5px 10px 15px 10px;
}

.standartMultiSearchContentCard {
    margin: 1%;
}

.standartMultiSearchTitle {
    font-size: calc(15px + 1vw);
    background-color: black;
    color: white;
    width: 100%;
    z-index: 1;
    top: 0;
    position: absolute;
    margin: 0;
    padding: 0 5px 5px 5px;
    border-left: solid 5px black;
    border-right: solid 5px black;
    border-top: solid 5px black;
}

.standartMultiSearchThumbnail {
    width: 100%;
    height: calc(400px - 0.5vw);
    object-fit: cover;
    transition: 0.5s;
}

.standartMultiSearchThumbnailContainer {
    overflow: hidden;
    border-bottom: solid 5px black;
    border-left: solid 5px black;
    border-right: solid 5px black;
    border-radius: 5px;
    position: relative;
}

.standartMultiSearchThumbnail:hover {
    transform: scale(1.2);
}

.standartMultiSearchTitleStories {
    border: solid black 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: #e62429;
    color: white;
    width: 100%;
    margin: 10px;
    padding: 0 5px 5px 5px;
}

.standartMultiSearchBarContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
}

.standartMultiSearchBar>button {
    display: none;
}

.standartMultiSearchBar {
    margin: 5px 0 20px 0;
    border: none !important;
    width: 25%;
}

.standartMultiSearchBar .react-search-field-input {
    border: solid 3px !important;
    border-radius: 20px;
    height: 45px !important;
    font-size: 1.5rem !important;
}

.standartMultiPaginationContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.standartMultiPagination {
    background-color: #0c0c0c;
    border-radius: 20px;
}

.standartMultiPagination .MuiPagination-ul>li>button {
    font-size: 2vh;
    color: white;
    margin: 5px 0;
}

.standartMultiPagination .MuiPagination-ul>li>button svg {
    font-size: 3vh !important;
}

.standartMultiPagination .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
    background-color: rgb(230 36 41);
    color: #ffffff;
}

.standartMultiPagination .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: rgb(230 36 41);
    color: #ffffff;
}

.standartMultiPagination .css-1v2lvtn-MuiPaginationItem-root {
    font-size: 1.5rem;
    color: white
}

.standartLoading {
    position: fixed;
    top: 40vh;
    left: 48%;
    z-index: 2;
}

@media (max-width: 1200px) {
    .standartMultiGrid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 768px) {
    .standartMultiGrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .standartMultiSearchTitle {
        font-size: 2.5rem;
    }

    .standartMultiSearchThumbnail {
        height: 100%;
    }

    .standartMultiSearchBar {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .standartMultiSearchContent {
        padding: 70px 0 50px 0;
    }

    .standartMultiPaginationContainer {
        padding: 0;
    }
}